<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>
    <ui5-table class="demo-table" id="table">
        <!-- Columns -->
        <ui5-table-column slot="columns" style="width: 12rem">
            <span style="line-height: 1.4rem">ID</span>
        </ui5-table-column>

        <ui5-table-column slot="columns" min-width="800" popin-text="Supplier">
            <span style="line-height: 1.4rem">Titulo</span>
        </ui5-table-column>

        <ui5-table-column slot="columns" min-width="600" popin-text="Dimensions" demand-popin>
            <span style="line-height: 1.4rem">SubTitulo</span>
        </ui5-table-column>

        <ui5-table-column slot="columns" min-width="600" popin-text="Weight" demand-popin>
            <span style="line-height: 1.4rem">Lugar</span>
        </ui5-table-column>

        <ui5-table-row *ngFor="let element of ToDos">
            <ui5-table-cell>{{element.id}}</ui5-table-cell>
            <ui5-table-cell>{{element.title}}</ui5-table-cell>
            <ui5-table-cell>{{element.subtitle}}</ui5-table-cell>
            <ui5-table-cell>{{element.place}}</ui5-table-cell>
        </ui5-table-row>
    </ui5-table>

</ion-content>